body{
  background-color: rgb(175, 172, 237);
}
.container{
  background-color: white;
  text-align: center;
  align-items: center;
  margin: 300px;
  height: 400px;
  padding: 10px;
  border-radius: 15px;
}
.head{
  margin-top: 60px;
  margin-bottom: 20px;
  font-size: 50PX;
}
.count{
  font-size: 80px;
  font-weight: bold;
  
}
.btn1{
  background-color: rgb(238, 92, 102);
  color: white;
  padding: 20px 15px;
  font-size: 20px;
  border-radius: 15px;
  border: none;
  margin-bottom: 20px;
  margin-top: 100px;
  margin-right: 20px;
  transition: transform 1s ease;
}
.btn2{
  background-color: rgb(32, 138, 183);
  color: white;
  padding: 20px 15px;
  font-size: 20px;
  border-radius: 15px;
  border: none;
  margin-bottom: 20px;
  margin-right: 20px;
  transition: transform 1s ease;
}
.btn3{
  background-color: rgb(47, 217, 78);
  color: white;
  font-size: 20px;
  padding: 20px 20px;
  border-radius: 15px;
  border: none;
  margin-bottom: 20px;
  margin-right: 30px;
  transition: transform 1s ease;
}